/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  padding: 50px;
  margin: 0;
  overflow: auto;
  color: #333;
  text-align: center;
  background-color: #fff;
  border: 0;
}

.jqmWindow h4 {
  padding: 0 0 5px 0;
  margin: 0 0 7px 0;
  font-size: 14px;
  color: #3E606F;
  text-align: left;
  border-bottom: 1px dotted #b0c4de;
}

.jqmWindow p {
  margin: 15px 0 0 0;
  font-size: x-small;
  text-align: right;
  text-transform: lowercase;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
  Star selector used to hide definition from browsers other than IE6
  For valid CSS, use a conditional include instead */
* html .jqmWindow {
  position: absolute;
  top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
