/* Header */
.nav-login {
  padding: 15px;
}

/* Tables */
.middle,
.table > thead > tr > th.middle,
.table > tbody > tr > th.middle,
.table > tfoot > tr > th.middle,
.table > thead > tr > td.middle,
.table > tbody > tr > td.middle,
.table > tfoot > tr > td.middle {
  vertical-align: middle;
}

/* Borderless table */
.table.table-borderless td,
.table.table-borderless th {
  border-top: 0;
}

/* Fix for main group list item in users profile. */
li.list-group-item.active,
li.list-group-item.active a {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

/* Pages */
.pagerow h3:first-child {
  margin-top: 0;
}

.pageside h4:first-child {
  margin-top: 0;
}

.pagelabel {
  font-size: 50%;
}

/* Forums */
.forums-tab .list-unstyled li {
  padding: 5px;
}

.forums-poster {
  width: 15%;
}

.forums-post p {
  position: relative;
}

.forums-signature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #9b9b9b;
  border-top: 1px solid #ededed;
}

/* Error (error.tpl) */
.errortpl {
  margin-top: 50px;
}

/* Sort arrows */
a.arrow {
  text-decoration: none;
}