/*
 * Skeletonti stylesheet
 */

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.middle,
.table > thead > tr > th.middle,
.table > tbody > tr > th.middle,
.table > tfoot > tr > th.middle,
.table > thead > tr > td.middle,
.table > tbody > tr > td.middle,
.table > tfoot > tr > td.middle {
  vertical-align: middle;
}

.editor,
.medieditor,
.minieditor {
  width: 100%;
}

.form-login {
  min-width: 200px;
  padding: 15px;
}

/* Fix for main group list item in users profile. */

li.list-group-item.active,
li.list-group-item.active a {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

/* Forums */

.forums-tab .list-unstyled li {
  padding: 5px;
}

.forums-poster {
  width: 15%;
}

.forums-post p {
  position: relative;
}

.forums-signature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #9B9B9B;
  border-top: 1px solid #EDEDED;
}
